@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-base-700;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-base-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-base-500;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 0.5;
  }
}
